<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Import Google Icon Font --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Shrikhand" rel="stylesheet">
    {{!-- Compiled and minified materialize CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- custom CSS --}}
    {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skateboarding News</title>
</head>

<body>
    {{!-- where our page will be displayed, using handlebars --}}
    {{{body}}}

    <!-- Scripts at the bottom of the page to optimize loading -->
    <!-- jQuery loaded first so materialize functions can work properly-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified materialize.css JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- front-end app logic --}}
    <script src="/js/app.js"></script>
</body>

</html>