{{!-- title and scraping button will go here --}}
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h1>Skate Feed</h1>
            <h4>Stay up to date with everything skateboarding related!</h4>
        </div>
    </div>

    <div class="row center">
        <a class="waves-effect waves-light btn" id="scrape-button"><i class="material-icons left">cloud</i>update feed</a>
    </div>
</div>

<div class="row" id="scraped-section">
    <div class="col s12" id="scraped-articles">

    </div>
</div>